<body style="background-color: #3D3C3A; padding: 20px; text-align: center; color:white; font-size: 15px;">
	<h1 style="margin: auto; color:">You decided to change your small app password !</h1>

	
	<p style="margin: 10px 0px;">
		<a href="{{url}}">
			<button style="padding: 15px 32px; background-color: DeepSkyBlue; color: white;">
				Click here to access the link to modify your password
			</button>
		</a>
	</p>
	<p style="font-size: 12px; color: white;">
		(this link is valid on the browser used to send this email only and remains valid until it is closed)
	</p>
</body>