<body style="background-color: #3D3C3A; padding: 20px; text-align: center; color:white; font-size: 15px;">
	<h1 style="margin: auto; color:">Welcome to my small app !</h1>

	<p style="margin: 10px 0px; color: white;">
		You signed up with the following email: <code>{{ email.to[0].address }}</code>
	</p>
	<p style="margin: 10px 0px;">
		<a href="{{url}}">
			<button style="padding: 15px 32px; background-color: DeepSkyBlue; color: white;">
				Click here to activate your account
			</button>
		</a>
	</p>
	<p style="font-size: 12px; color: white;">
		(this link is valid on the browser used to create the user only and remains valid until it is closed)
	</p>
</body>